name: Terraform Apply

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  terraform:
    if: github.event.pull_request.merged == true
    name: Terraform Apply
    runs-on: ubuntu-latest
    env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.0

      - name: Destroy Terraform resources
        run: terraform destroy -auto-approve
